<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Omnominator</title>
  <script type="text/javascript" src="http://www.google.com/jsapi?key=<%= GOOGLE_API_KEY %>"></script>
  <%= javascript_include_tag :defaults, "plugins/jquery.template", "plugins/jquery.flash" %>
  <%= stylesheet_link_tag "screen", "flash" %>
  <%= flash_script %>
</head>
<body>
<h1 id="header">Omnomnomnom...</h1>
<div id="flash"></div>
<%= yield %>

</body>
</html>
